
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Black.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-BlackItalic.ttf') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraBold.ttf') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-BoldItalic.ttf') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraLight.ttf') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Light.ttf') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-LightItalic.ttf') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Medium.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-MediumItalic.ttf') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Thin.ttf') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ThinItalic.ttf') format('woff');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff');
    /* font-weight: 900; */
    /* font-style: normal; */
}

body {
  font-family: 'Montserrat';
  font-weight: normal;
}

section {
  text-align: left;
}

h1 {
  letter-spacing: -0.03em;
  line-height: 1.1;
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  letter-spacing: -0.03em;
  line-height: 1.1;
  font-weight: 600;
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}
strong {
  /* font-weight: 700; */
}

section {
  padding: 0 1rem;
  margin: 3rem 0;
}